    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* background-color: #E0FFFF; */
    }

    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

    body {
        background-color: #FFF0F5;
        width: 100vw;

    }

    .hero {
        position: relative;
        height: 110vh;
        margin-top: 100px;
        display: grid;
        justify-content: center;


    }
    
    .ganeshjiTagLine {
        height: fit-content;
        width: fit-content;
        margin-bottom: 151px;
        margin: 0px auto;
        color: #b17b4e;
        font-weight: bold;
        font-size: 28px;

    }
.ganeshji{
    margin: 0 auto;
}
    .TagLineani {
        -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
    }


    .brideContainer {
        display: flex;
        justify-content: space-evenly;
        height: 70vh;
        align-items: center;
        width: 100%;
        /* margin: 10px 0; */
    }

    .brideContainer img {
        height: 40vh;
    }

    .brideContainer p {
        font-size: 32px;
        text-transform: capitalize;
        color: #b88637;
        font-family: 'Arizonia', cursive;
        -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }

    .brideContainer h1 {
        font-size: 62px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: -50px;
        text-transform: capitalize;
        color: #e55081;
        font-family: 'Arizonia', cursive;
    }



    .groonContainer {
        display: flex;
        justify-content: space-evenly;
        height: 70vh;
        align-items: center;
        margin: 10px 0;
    }

    .groonContainer img {
        height: 40vh;
    }

    .groonContainer p {
        margin-left: 10px;
        font-size: 32px;
        text-transform: capitalize;
        color: #b88637;
        font-family: 'Arizonia', cursive;
        -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .groonContainer h1 {
        font-size: 62px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: -50px;
        text-transform: capitalize;
        color: #e55081;
        font-family: 'Arizonia', cursive;
    }

    section {
        position: relative;
    }

    #vanue {
        margin: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #vanue img {
        height: 45vh;
    }

    #vanue p {
        margin-top: 100px;
        position: absolute;
        font-size: 15px;
        text-align: center;
    }

    #vanue p a {
        text-decoration: none;
        font-weight: bold;
        color: #000000;

    }

    .endingtagLine {
        margin: 0 auto;
        height: 80vh;
        width: 400px;
        text-align: center;
        font-size: 24px;
        font-family: 'Alkatra', cursive;
        color: #e55081;
        margin-top: 170px;
        /* margin-bottom: 400px; */
    }

    .functionContainer .table {
        position: absolute;
        /* height: 00px; */

    }

    .functionContainer caption {
        font-size: 42px;
    }
    .functionContainer td{
        font-size: 20px;
    }

    
    .functionContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .functionContainer img {
        height: 100vh;
    }

    body {
        background-color: #FFF0F5;
        overflow-x: hidden;
    }

    #frontcontainer {
        height: 100vh;
        width: 100vw;
        /* display: flex; */
        /* justify-content: flex-end; */
        margin-bottom: 100px;

    }

    #frontcontainer img {
        position: absolute;
        /* top: 0; */
        bottom: 0;
        /* height: 100vh; */
        width: 150vw;
    }

    #frontcontainer #box {
        position: absolute;
        text-align: center;
        margin-right: 200px;
        height: 100vh;
        width: 100vw;
        margin-top: 200px;
    }


    /* .front .head {
        text-align: center;
    } */

    #frontcontainer p {
        font-family: 'Great Vibes', cursive;
        color: #b88637;
        text-transform: capitalize;
        font-size: 68px;
        /* line-height: 50px; */
    }

    #frontcontainer p:nth-child(1) {
        /* text-align: left; */
        /* margin-right: -1000px; */
        /* top: 300px; */
    }

    #frontcontainer p:nth-child(2) {
        /* text-align: right; */
        margin-left: 150px;
    }
